* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    color: #222;
    padding: 20px;
    height: 100vh;
}

.content-box {
    display: grid;
}