* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%:
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #0c0c0c;
    color: #222;
    padding: 20px;
    height: 100vh;
}

.container {
    margin: auto;
}