* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: #f1f1f1;
    color: #222;
    padding: 20px;
    height: 100vh;
}

.content-box {
    display: grid;
}

button {
    padding: 1em;
    border: none;
    border-radius: 10px;
    background-color: purple;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}